<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <title>PlayNow</title>

    <link rel="stylesheet" href="/css/custom.css" type="text/css" />

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

     <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">




    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/js/parallax.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    </head>
    <body>
    <!-- Navigation bar -->
    <header>
    <nav>
        <div class="nav-wrapper yellow darken-2">
        <a href="/" class="brand-logo white-text text-white" style="margin-left: 20px;">PlayNow</a>
            <ul id="slide-out" class="side-nav">
                <li>
                  <div class="userView">
                    <div class="background">
                        <img style="height: 500px;" src="/images/grass.jpeg">
                    </div>
                    {{#if cur_user}}
                      <center><img class="circle" src="http://placehold.it/50x50"></center>
                      <span class="white-text name" style="font-size: 20px; text-align: center;">{{cur_user.firstName}} {{cur_user.lastName}}</span>
                      <span class="white-text name" style="text-align: center; padding-bottom: 10px;">{{cur_user.email}}</span>
                    {{else}}
                      <p class="white-text name" style="font-size: 20px; text-align: center; padding-bottom: 20px;">Sign up to join the PlayNow community today!</p>
                    {{/if}}
                  </div>
                </li>
                {{#if cur_user}}
                  <li><a href="/sports"><i class="material-icons">search</i>Find Team</a></li>
                  <li><div class="divider"></div></li>
                  <li><a href="/companies"><i class="material-icons">cloud</i>Companies</a></li>
                  <li><div class="divider"></div></li>
                  <li><a href="/"><i class="material-icons">perm_identity</i>{{cur_user.username}}</a></li>
                  <li><div class="divider"></div></li>
                  <li><a class="logout"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>Logout</a></li>
                {{else}}
                  <li><a href="/sign-up"><i class="fa fa-user-plus fa-lg" aria-hidden="true"></i>Sign up</a></li>
                  <li><div class="divider"></div></li>
                  <li><a href="/login"><i class="fa fa-sign-in fa-2x" aria-hidden="true"></i>Login</a></li>
                {{/if}}
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/sports" class="white-text text-white">Find team</a></li>
                {{#if cur_user}}
                <li><a href="/companies">Company</a></li>
                <li><a href="#">{{cur_user.username}}</a></li>
                <li><a href="#" class="logout" class="white-text text-white">Logout</a></li>
               {{else}}
                <li><a href="/sign-up" class="white-text text-white">Sign up</a></li>
                <li><a href="/login" class="white-text text-white">Log In</a></li>
                {{/if}}
            </ul>
        </div>
    </nav>
    </header>
    <br/>
    <main>
      {{{body}}}
    </main>
    <!-- Footer -->
     <footer class="page-footer grey darken-2" id="targetFooter">
              <div class="container">
                <div class="row">
                  <div class="col l6 s12">
                    <h5 class="amber-text text-darken-1">Footer Content</h5>
                    <p class="amber-text text-darken-1">You can use rows and columns here to organize your footer content.</p>
                  </div>
                  <div class="col l4 offset-l2 s12">
                    <h5 class="amber-text text-darken-1">Links</h5>
                    <ul>
                      <li><a class="amber-text text-darken-1" href="#!">About us</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="footer-copyright">
                <div class="container">
                © 2016 Copyright Text
                <a class="amber-text text-darken-1 right" href="#!">More Links</a>
                </div>
              </div>
            </footer>

      <script>
      (function ($) {
          $(function () {

              $('.button-collapse').sideNav();
              $('.parallax').parallax();

          }); // end of document ready
      })(jQuery); // end of jQuery name space
      {{#if cur_user}}

        (function() {
          $('.logout').click(function() {
            $.post("/logout", function() {
              window.location.href = '/';
            });
          });
        })();
      {{/if}}
      </script>

    </body>

</html>
