<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <title>PlayNow</title>

    <link rel="stylesheet" href="/css/custom.css" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

     <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">


    <!-- Remodal -->
    <link rel="stylesheet" href="/remodal/dist/remodal.css">
    <link rel="stylesheet" href="/remodal/dist/remodal-default-theme.css">

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/js/parallax.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    </head>
    <body>
    <!-- Navigation bar -->
    <header>
    <nav>
        <div class="nav-wrapper yellow darken-2">
        <a href="/" class="brand-logo white-text text-white" style="margin-left: 20px;">PlayNow</a>
            <ul id="slide-out" class="side-nav">
                <li>
                  <div class="userView">
                    <div class="background">
                        <img style="height: 500px;" src="/images/grass.jpeg">
                    </div>
                    {{#if cur_user}}
                      <center><img class="circle" src="http://placehold.it/50x50"></center>
                      <span class="white-text name" style="font-size: 20px; text-align: center;">{{cur_user.firstName}} {{cur_user.lastName}}</span>
                      <span class="white-text name" style="text-align: center; padding-bottom: 10px;">{{cur_user.email}}</span>
                    {{else}}
                      <p class="white-text name" style="font-size: 20px; text-align: center; padding-bottom: 20px;">Sign up to join the PlayNow community today!</p>
                    {{/if}}
                  </div>
                </li>
                {{#if cur_user}}
                    <li><a href="/about"><i class="material-icons">contacts</i>About</a></li>
                    <li><div class="divider"></div></li>
                  <li><a href="/sports"><i class="material-icons">search</i>Find Team</a></li>
                  <li><div class="divider"></div></li>
                  <li><a href="/companies"><i class="material-icons">cloud</i>Companies</a></li>
                  <li><div class="divider"></div></li>
                  <li><a href="/profile"><i class="material-icons">perm_identity</i>{{cur_user.username}}</a></li>
                  <li><div class="divider"></div></li>
                  <li><a class="logout"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>Logout</a></li>
                {{else}}
                  <li><a href="/sign-up"><i class="fa fa-user-plus fa-lg" aria-hidden="true"></i>Sign up</a></li>
                  <li><div class="divider"></div></li>
                  <li><a href="/login"><i class="fa fa-sign-in fa-2x" aria-hidden="true"></i>Login</a></li>
                {{/if}}
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/about" class="white-text text-white">About</a></li>
                <li><a href="/sports" class="white-text text-white">Favorite sports</a></li>
                {{#if cur_user}}
                <li><a href="/companies" class="white-text text-white">Company</a></li>
                <li><a href="/profile">{{cur_user.username}}</a></li>
                <li><a href="#" class="logout" class="white-text text-white">Logout</a></li>
               {{else}}
                <li><a href="/sign-up" class="white-text text-white">Sign up</a></li>
                <li><a href="/login" class="white-text text-white">Log In</a></li>
                {{/if}}
            </ul>
        </div>
    </nav>
    </header>
    <main>
      {{{body}}}
    </main>
    <!-- Footer -->
     <footer class="page-footer grey darken-2" id="targetFooter">
              <div class="container">
                  <div class="row">
                      <div class="col s12 offset-s2">

                          <div class ="row">
                              <div class="col s4">
                                  <i class="small material-icons">email</i>
                              </div>
                              <div class="col s4">
                                  <i class="small material-icons">info</i>
                              </div>
                              <div class="col s4">
                                  <i class="small material-icons">comment</i>
                              </div>

                          </div>
                      </div>
                  </div>

                  <div class ="row" style="margin-top:-20px;">
                      <div class="col s12 push-s2" style="margin-left:-20px;">
                          <div class="col s4">
                              <a id="footer-text" href="#!">Email us</a>
                          </div>
                          <div class="col s4">
                              <a id="footer-text" href="/about">About us</a>
                          </div>
                          <div class="col s4">
                              <a id="footer-text" href="#!">Leave a comment</a>
                          </div>
                      </div>
                  </div>
              </div>
         <div style="background-color: #757575; margin-left:-20px; margin-right: -20px; margin-bottom:-30px;">
             <p class="center-align"> © PlayNow 2016  </p>
         </div>
     </footer>
      <script>
      (function ($) {
          $(function () {

              $('.button-collapse').sideNav();
              $('.parallax').parallax();
              $('select').material_select();

          }); // end of document ready
      })(jQuery); // end of jQuery name space
      {{#if cur_user}}

        (function() {
          $('.logout').click(function() {
            $.post("/logout", function() {
              window.location.href = '/';
            });
          });
        })();
      {{/if}}
      </script>
      <script src="/remodal/dist/remodal.min.js"></script>

    </body>

</html>
