<header class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <center><h1>{{company.companyName}}</h1></center>
          <hr class="small">
          <center><span class="subheading">By: {{company.username}}</span></center>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      
      <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
      <div id="map-canvas"></div>
       

      <p>Phone: {{company.companyPhone}} </br>
        {{company.city}},  {{company.state}}  {{company.zipcode}}</br>
        <a href={{company.companyWebsite}}>{{company.companyWebsite}}</a></p>  

    </div>
  </div>
</div>
