<header class="intro-header" style="background-image: url('/img/about-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <h1>{{company.companyName}}</h1>
          <hr class="small">
          <span class="subheading">By: {{company.username}}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
        <div class="col-md-6">
          <p><a href="+{{company.companyWebsite}}+">{{company.companyWebsite}}</a></p>
          <p>{{company.companyPhone}}</p>
            <p>{{company.address}}</p>
          <p>{{company.state}}</p>
          <p>{{company.city}}</p>
          <p>{{company.zipcode}}</p>
        </div>
          <div class="col-md-6">
              <iframe
                      id="companyMap"
                      frameborder="0" style="border:2px"
                      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBR3YnmH_sCLgjpiBnGsIb8YALCQvMbhRQ&q='+{{company.address}}+'" allowfullscreen>
              </iframe>
          </div>
  </div>
</div>