<header class="intro-header" style="background-image: url('/img/about-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <h1>{{company.companyName}}</h1>
          <hr class="small">
          <span class="subheading">By: {{company.username}}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <p><a href={{company.companyWebsite}}>website</a></p>
      <p>{{company.companyPhone}}</p>
      <p>{{company.state}}</p>
      <p>{{company.city}}</p>
      <p>{{company.zipcode}}</p>
    </div>
  </div>
</div>
