<header class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <center><h1>{{team.teamName}}</h1></center>
          <hr class="small">
          <center><span class="subheading">Created by: {{team.username}} : {{team.teamPhone}}</span></center>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div style ="float:left">
        <h4>{{team.sporttype}} Team</h4>
        <h5>{{team.location}} </br>
            {{team.day}}  {{team.time}}</h5>
        <div style="height: 100px; width: 400px; background-color:#00BB00">
            Static Map here
        </div>
      </div>
      <div style = "float:right">
        <h3> Team Members:</h3>
        <div style="height: 100px; width: 400px; padding-left:15px"> 
            <h4>{{team.username}} 
            {{user.sportspref}}
            </h4>
            <center><div class="create-post">
              <a class="btn btn-default" href="#">Join this team</a>
              <a class="btn btn-default" href="#">Cancel</a> 
      </div></center>
        </div>
      </div>
    </div>
  </div>
</div>
