<header class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <center><h1>{{team.teamName}}</h1></center>
          <hr class="small">
          <center><span class="subheading">By: {{team.username}}  {{team.teamPhone}}</span></center>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{team.sporttype}} </br>
        {{team.location}}, {{team.day}}  {{team.time}}</br></br>
        <center><h3> Team Members</h3>
        <h4>{{team.username}} 
        {{user.sportspref}}</h4></center>

        <div class="create-post">
          <a class="btn btn-default" href="/teams/new">Join this team</a>
          <a class="btn btn-default" href="/teams/new">Cancel</a> </br></br>
        </div>
    </div>
  </div>
</div>
