<div class="container">
  <div class="row">
    <div class="col-sm-12">
      {{#if cur_user}}
<<<<<<< HEAD
        <center><h1>Hey <span style="color: red;">{{cur_user.username}}</span></h1></center> </br></br>
        <div style="float:left; padding-left: 20px; width: 40%; background-color:#D3D3D3">
          <center><h2>Profile Information</h2></center>
          <hr class="small">
          <h3>Username: <span style="color: red;">{{cur_user.username}}</span></h3>
          <h3>FirstName: <span style="color: red;">{{cur_user.firstName}}</span></h3>
          <h3>LastName: <span style="color: red;">{{cur_user.lastName}}</span></h3>
          <h3>Email: <span style="color: blue;">{{cur_user.email}}</span></h3> </br></br>
          <center><button type="submit" class="btn btn-primary">Edit user</button></center>
        </div>

        <div style="float:right; padding-left: 20px; width: 30%; background-color:#D3D3D3">
          <center><h2>Favorite sports</h2></center>
          <hr class="small">
          <h3><span style="color: red;">{{cur_user.username}}</span></h3>
          <h3><span style="color: blue;">{{cur_user.favorSportTwo}}</span></h3> </br>
          <center><button type="submit" class="btn btn-primary">Edit sports</button></center>
        </div > 

=======
        <h1>Welcome back {{cur_user.firstName}}</h1>
>>>>>>> a0e22f5cb41b22a2db8a1d5dec96f124d3da46d7
      {{else}}
          <h1>Welcome</h1>
      {{/if}}
    </div>
  </div>
</div>
