<header class="intro-header" style="background-image: url('/img/contact-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <h1>Edit A Company</h1>
          <hr class="small">
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <form name="edit-post" method="POST" action="/companies/{{company.username}}/{{company.slug}}?_method=PUT">
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>CompanyName</label>
            <input type="text" class="form-control" name="company" value="{{company.companyName}}" required data-validation-required-message="Please enter a company name."/>
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>companyWebsite</label>
            <input type="text" class="form-control" name="body" value="{{company.companyWebsite}}" required data-validation-required-message="Please enter a company Website."/>
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>companyPhone</label>
            <input type="text" class="form-control" name="companyPhone" value="{{company.companyPhone}}" required data-validation-required-message="Please enter company phone number."/>
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Address</label>
            <input type="text" class="form-control" name="address" value="{{company.address}}" required data-validation-required-message="Please enter an address."/>
            <p class="help-block text-danger"></p>
          </div>
        </div>
          <div class="row control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                  <label>State</label>
                  <input type="text" class="form-control" name="state" value="{{company.state}}" required data-validation-required-message="Please enter a state."/>
                  <p class="help-block text-danger"></p>
              </div>
          </div>
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>City</label>
            <input type="text" class="form-control" name="city" value="{{company.city}}" required data-validation-required-message="Please enter a city.">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Zipcode</label>
            <input type="text" class="form-control" name="zipcode" value="{{company.zipcode}}" required data-validation-required-message="Please enter a zipcode.">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="form-group col-xs-6 text-right">
              <button type="submit" class="btn btn-default">Edit</button>
          </div>
      </form>
      <form name="delete-post" method="POST" action="/companies/{{company.username}}/{{company.slug}}?_method=DELETE">
          <div class="form-group col-xs-6 text-left">
            <button type="submit" class="btn btn-default">Delete</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
